.Login {
  padding: 60px 0;
  text-align: center;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.Botns{
  float: none;
  padding: 10px;
  text-align: center;
}
.MuiGrid-container {
  display: inline-grid !important;
}
