.Signup {
  padding: 0;
  margin: 0;
  text-align: center;
}

.Signup #btnSingUp{
	width: 222px;
	margin: 50px;
}

@media (min-width: 500px) {
	.Signup Input{
		width: 400px;
	}
	.Signup #btnSingUp{
		width: 400px;
	}
}